<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Angular JS App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
</head>
<body ng-init="NoOfBooks">
    <input ng-model="NoOfBooks"  >
    <p>The no. of books is {{NoOfBooks + " Hundred"}}</p>
</body>
</html>